#img__components {
  .img__components {
    display: flex;

    flex-direction: column;
    .img__container {
      width: 100%;
      background-size: 100%;
      background-position: top;
      background-repeat: no-repeat;
      border-radius: 3px;
      object-fit: cover;
      overflow: hidden;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
@media only screen and(min-width:500px) {
  #img__components {
    .img__components {
      display: grid;
      .img__container {
        height: 36rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
@media only screen and(min-width:760px) {
  #img__components {
    .img__components {
      display: grid;
      .img__container {
        height: 55rem;
        margin-bottom: 1rem;
      }
    }
  }
}
@media only screen and(min-width:1200px) {
  #img__components {
    .img__components {
      padding: 5rem 0;
      display: grid;
      .img__container {
        height: 70rem;
        margin-bottom: 10rem;
      }
    }
  }
}
